.Main{ 
  width: 100%;
  display: flex;

  background-color: #efefef;
  
  align-items: center;
  justify-content: center;
 
}

.ProfilePhoto{
  
  text-align: right;
  margin: 70px 20px 70px auto;
  
}

img {
    width: 200px;
    height: 200px;

    border: 2px solid #15181c;
    border-radius: 50%;
    margin-right: 20px;
}

.ProfileSection{
   padding: 10px;
   flex-basis: 60%;
   margin-left: 0;
   height: auto;
   border-left: 1px solid #15181c; 
}

h1, p{
    width: 60%;
}

@media screen and (max-width: 800px) {
  
  h1, p {
    width: 45%;
  }

}


@media screen and (max-width: 568px) {
  
  .Main{
    flex-direction: column;
  }

  .ProfilePhoto{
    text-align: center;
    margin: 20px;
    margin-top: 40px;
    
  }

  img {
    width: 140px;
    height: 140px;
  }

  .ProfileSection{
    padding: 7px;
    flex-basis: auto;
    margin: 10px;
    height: auto;
    border: none; 
    text-align: center;
  }
 
  h1, p{
     width: 100%;
  }

}

