.App {
  width: 100%;
  margin: 0 auto;
}

h1, h2, h3, h4{
  font-family: 'Fira Sans', sans-serif;
  font-weight: 600;
  color: #15181c;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 32px;
}

h2{
  font-size: 26px;
}

h3{
  font-size: 22px;
}

h4{
  font-size: 20px;
}

p {
  margin: 10px 0;
  padding: 0;
  font-family: 'Roboto Serif', serif;
  font-size: 16px;
  font-weight: 400;
}


/* font-family: 'DynaPuff', cursive;
font-family: 'Fira Sans', sans-serif;
font-family: 'Roboto Serif', serif; */

